<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 个人资料页 -->
<head>
    <meta http-equiv="Conteno-Type" content="text/html" ; charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/info.css}">

    <!-- 设置标签logo -->
    <link rel="icon" th:href="@{/img/icon.png}" type="image/x-icon"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
    <title>个人中心</title>
</head>
<body class="body">

<!-- 引入导航栏 -->
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <!-- 当屏幕尺寸为large的时候，这部分占据屏幕的宽度的9份(总的为12份)，当屏幕尺寸为md，sm，xs的时候都是占据整个屏幕-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}" aria-hidden="true">个人中心</span></h2>
            <hr>
            <div class="media" th:each="infoDTO : ${pageDTO.getInfoDTOList()}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object media-pic img-rounded" th:src="${infoDTO.getUser().getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${infoDTO.getTitle()}"></h4>
                    <!--如果description太长，则截取一部分-->
                    <span th:text="${infoDTO.getDescription().length() > 20}?${infoDTO.getDescription().substring(0,20)}:${infoDTO.getDescription()}"></span><br>
                    <span class="media-text"><span th:text="${infoDTO.getCommentCount()}"/>个回复 .<span th:text="${infoDTO.getViewCount()}"/>次浏览.<span th:text="${#dates.format(infoDTO.getGmtCreate(),'yyyy-MM-dd')}"/></span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 回到首页 -->

                    <li th:if="${pageDTO.isShowFirstPage()}">
                        <a th:href="@{'/profile/'+${section}(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!-- 回到上一页 -->
                    <li th:if="${pageDTO.isShowPrevious()}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDTO.previousPage})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <!-- 链接的格式为：http://localhost:8887/?page=2 -->
                    <li th:each="page: ${pageDTO.pages}" th:class="${pageDTO.currentPage == page}? 'active': '' ">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}">1</a>
                    </li>
                    <!-- 回到下一页 -->
                    <li th:if="${pageDTO.isShowNext()}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDTO.nextPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <!-- 回到最后一页 -->
                    <li th:if="${pageDTO.isShowEndPage()}">
                        <a th:href="@{'/profile/'+${section}(page=${pageDTO.endPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group list-group-customer">
                <!--注意样式是否会被覆盖-->
                <a th:href="@{/profile/myPublish}" th:class="${section == 'myPublish'}? 'active list-group-item':'list-group-item'">我的说说</a>
                <a th:href="@{/profile/latestReply}" th:class="${section == 'latestReply'}? 'active list-group-item':'list-group-item'">
                    最新回复
                    <span class="badge">14</span>
                </a>
        </div>
    </div>
</div>
</body>
</html>